.selectHotelContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
}

.content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.selectedHotelCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;

}
.selectHotelInfo{
    display: flex;
    border-radius: .25rem!important;
    justify-content: center;
}

.hotelInfoBox{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    padding: 3rem;
    background-color: #f8f9fa !important;
}

.selectedHotelCard{
    width: 450px;
    height: 500px;
}

.hotelContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vH;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.compareBookBtnContainer{
    position: relative;
    display: flex;
    justify-content: center;
    /*border: 1px solid green;*/
    /*height: 30%;*/
}

.compareBtn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.hotelInfo{
    position: relative;
    display: flex;
    height: 50%;
}

.hotelName{
    /*border: 1px solid blue;*/
    width: 50%;
}

.hotelPrice{
    /*border: 1px solid red;*/
    width: 50%;
}

.selectedHotelCard{
    height: 60vH;
    background: transparent !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.cardTitle{
    position: relative;
    display: flex;
    justify-content: center;
}

.cardBody{

}

.navBar{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    height: 90px;
    background: transparent !important;
    background-color: rgba(255,255,255,0.5) !important;
}

.navBarLinks{
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.compareHotelsBody{
    display: flex;
    height: 100Vh;
    justify-content: center;
    align-items: center;
}

.compareHotelsContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}

.cardsContainer{
    /*border: 1px solid red;*/
    flex-direction: row;
    display: flex;
}

.hotelCard{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,.125);
}

.hotelCard:hover{
    transform: scale(1.1);
}

.filterContainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.hotelFilters{
    align-self: center;
}

.selectedHotelInfoContainer{
    display: flex;
    flex-direction: row;
}

.compareHotelImage{
    height: 184px;
}

.priceSelectorContainer{
    display: flex;
    /*border: 1px solid blue;*/
    /*height: 50px;*/
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.priceSelector{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-end;
    width: auto;
    margin-right: 10px;
    margin-bottom: 15px;
}

.pricesFilterLabel{
    align-self: center;
}

.selectedHotelInfoContainer{

}ul{

 }li{
    font-size: 0.9rem;
}

.email-input-book{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-title-book{
    align-self: center;
}

.confirmHotelPaymentInfo{
    display: flex;
    flex-direction: column;
}

.confirmationContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.confirmationBody{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationDetailsContainer{
    position: relative;
    display: flex;

}
.confirmationLeftDetails{
    position: relative;
}

.confirmImage{
    height: 25vH;
    width: auto;
}

.confirmationCard{
    width: 25rem;
    height: 50vH;
}

.confirmCardBody{
    position: relative;
}

/*.confirmationBtn{*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-self: end;*/
/*}*/

@media only screen and (max-width: 600px){
    .selectHotelContainer{
        display: flex;
    }

    .content{
        display: flex;
        height: 100vh;
        align-items: center;
    }

    .selectHotelInfo{
        display: inline-block;
        height: 100%;
        margin-top: 3rem;
        border-radius: .25rem!important;
    }

    .hotelInfoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .selectHotelInputs{
        display: block!important;
    }

    .hotelContainer{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100vH;
        padding: 0 !important;
        /*border: 1px solid red;*/
    }

    .selectedHotelCardContainer{
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        /*border: 1px solid blue;*/

    }

    .selectedHotelCard{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    .selectedHotelImages{
        position: relative;
        width: 100%;
    }

    .cardBody{
        position: relative;
        display: flex;
        flex-direction: column;
        /*border: 1px solid orange;*/
        width: 100%;
    }

    #myVideo{
        position: fixed;
        max-width: fit-content;
    }

    .selectedHotelCarousel{
        /*border: 1px solid purple;*/
        width: 100%;
        padding: 0 !important;
    }

    .cardTitle{
        /*position: relative;*/
        /*display: flex;*/
        /*justify-content: center;*/
    }

    .hotelInfo{
        /*position: relative;*/
        /*display: flex;*/
        /*height: 50%;*/
    }

    .hotelName{
        /*border: 1px solid blue;*/
        /*width: 50%;*/
    }

    .hotelPrice{
        /*border: 1px solid red;*/
        /*width: 50%;*/
    }

    .compareBookBtnContainer{
        /*position: relative;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*border: 1px solid green;*/
        /*height: 30%;*/
    }

    /*  compareHotels.php  */

    .compareHotelsBody{
        border: 1px solid red;
        display: block;
        height: 100%;
        /*display: flex;*/
        /*height: 100Vh;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .compareHotelsContainer{
        /*display: flex;*/
        /*flex-direction: column;*/
        /*position: relative;*/
        /*justify-content: center;*/
        /*align-items: center;*/

    }

    .cardsContainer{
        border: 1px solid blue;
        position: relative;
        display: flex;
        flex-direction: column;
        /*display: flex;*/
    }

    .hotelCard{
        /*padding: 5px;*/
        /*margin: 5px;*/
        /*border: 1px solid rgba(0,0,0,.125);*/
    }

    .selectedHotel{
        order: -1;
    }

    .hotelCard:hover{
        transform: none !important;
    }

    .filterContainer{
        margin-bottom: 10px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*margin-top: 20px;*/
    }

    .hotelFilters{
        /*align-self: center;*/
    }

    .selectedHotelInfoContainer{
        /*display: flex;*/
        /*flex-direction: row;*/
    }

    .compareHotelImage{
        /*height: 184px;*/
    }

    .priceSelectorContainer{
        display: flex;
        /*border: 1px solid blue;*/
        /*height: 50px;*/
        /*width: 100%;*/
        justify-content: center;
        margin-top: 10px;
        /*align-items: flex-end;*/
    }

    .priceSelector{
        /*display: flex;*/
        /*flex-direction: column;*/
        /*position: relative;*/
        /*align-self: flex-end;*/
        /*width: auto;*/
        /*margin-right: 10px;*/
        /*margin-bottom: 15px;*/
    }

    .pricesFilterLabel{
        /*align-self: center;*/
    }

    .selectedHotelInfoContainer{

    }ul{

     }li{
          font-size: 0.9rem;
     }

/*      BOOK HOTEL     */

    .bookHotelForm{
        display: flex;
        flex-direction: column;
    }

    .bookHotelFormInputs{
        display: flex;
        flex-direction: column;
    }

/*    CHECK OUT    */

    .paymentFormContainer{
        margin-top: 1rem!important;
    }

    #paymentInput{
        display: flex;
        flex-direction: column !important;
    }

    .paymentInput{
        display: flex;
        flex-direction: column !important;
    }

    #paymentForm{
        display: flex;
        flex-direction: column !important;
    }

}